<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary mb-5">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../images/blog.png" alt="" width="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 19px; margin: 0 10px;">
              <li class="nav-item">
                <a class="nav-link active" href="#" style="color: white;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row content d-flex justify-content-center align-items-center">
            <div class="col-lg-9">
                <div class="card mb-5 box-shadow bg-white">
                <img src="../images/aiback.png" alt="" class="img-fluid">
        <div class="card-body">
            <div class="card-title">
                <h3>Artificial Intelligence</h3>
            </div>
            <div class="card-text mb-5">
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, dignissimos ab? Unde tempore asperiores possimus iure a dignissimos ab doloremque perferendis culpa nulla ipsam praesentium ipsa, ex ut consequuntur reprehenderit. Deleniti dolores odio laborum explicabo, sint asperiores? Consectetur atque iure hic temporibus, modi autem nulla, molestias labore voluptatum assumenda aliquam, eius iusto. Molestiae dolores quod incidunt recusandae delectus repellat, distinctio rem vitae ea, id nisi debitis, officia molestias ipsa. Minus, quibusdam fugit nisi accusantium possimus exercitationem reiciendis ducimus quod odit autem nemo quas sequi vel illo ab magni expedita. Quo praesentium quidem, voluptas ex porro sed. Culpa, ratione. Inventore odit eveniet nihil dolorum cumque iure incidunt ullam recusandae ab modi similique, possimus, eligendi culpa nam consequuntur! Illo doloremque explicabo maxime at dignissimos animi culpa eos dolorum nisi. Dolorem cum commodi ullam ex non obcaecati dolores aut accusamus. Sed, minus. Aliquam quaerat nam earum cumque blanditiis non suscipit in minima, repellat architecto autem similique unde deserunt magnam? Qui ex quis laboriosam, quos quibusdam expedita molestiae quae et, saepe unde, aliquam est? Harum at quasi exercitationem ipsam est aspernatur ab quae voluptas in earum eius eos error quisquam possimus sint similique quo delectus saepe, aliquid velit optio facere quidem eaque rem? Fugiat suscipit eveniet nihil voluptates. Ipsa a soluta porro ratione saepe consequatur nesciunt nisi rerum amet odit odio, ipsum sed ex deleniti officia debitis ducimus laborum obcaecati natus, voluptatem doloribus tenetur? Iste voluptatibus laboriosam autem nostrum quas facilis magnam amet tempora neque soluta tenetur nisi in qui pariatur, aut consectetur, earum veniam sint alias vitae? Magni, voluptatem? Illum at placeat error, praesentium quae nemo ea blanditiis unde, dolore recusandae hic explicabo beatae rem aperiam ut. At modi repudiandae inventore, temporibus minus sed recusandae vel, explicabo consectetur voluptatem suscipit quod maxime sequi qui cum excepturi minima accusantium iure optio. Laudantium, molestiae architecto.
               </p>
            </div>
            </div>
        </div>
        </div>
      </div>
      </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</body>
</html>